name: 'mondo_map'

metadata:
  description: 'Mapping from disease IDs to MONDO IDs using SSSOM file'

reader:
  files:
    - '../../data/mondo.sssom.tsv'
  format: 'csv'
  delimiter: '\t'
  header_mode: 51
  columns:
    - subject_id
    - subject_label
    - predicate_id
    - object_id
    - object_label
    - mapping_justification
  filters:
    - inclusion: 'include'
      column: 'predicate_id'
      filter_code: 'eq'
      value: 'skos:exactMatch'

transform:
  key: object_id
  values:
    - subject_id
