name: Create Release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 3 * *' # Monthly on the 3rd day of the month

jobs:
  create-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Install Dependencies
        run: uv pip install --system -e "."

      - name: Run Transform
        run: just run

      - name: Get Date for Release Tag
        run: echo "DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.DATE }}
          files: |
            output/*
          generate_release_notes: true
